In [1]:
DIR= '/Users/yoavfreund/projects/cell_detection_data'
!ls -lh $DIR/sections

total 0
drwxr--r--@ 16 yoavfreund  staff   512B Aug 16 10:26 164
drwxr-xr-x  19 yoavfreund  staff   608B Aug 31 15:31 172
drwxr--r--@ 16 yoavfreund  staff   512B Aug 16 10:27 248

In [2]:
import pandas as pd
det=pd.read_csv('../detections_dk55.csv')
positives=det[det['label']==1]
positives.head()

,Unnamed: 0,animal,section,index,label,area,height,width,row,col,...,nu20,nu11,nu02,nu30,nu21,nu12,nu03,mean_score,std_score,predictions
153,153,DK55,164,153,1,2107,46,79,15211.546749,41356.251068,...,0.152111,0.004984,0.047689,-0.004511,-0.007155,-0.000278,0.001678,1.620215,0.914719,2
272,272,DK55,164,272,1,2553,55,73,17249.786917,38958.469252,...,0.123931,-0.040346,0.067271,-0.001866,-0.003860,0.003613,-0.000606,3.398285,0.975492,2
274,274,DK55,164,274,1,1298,45,46,17244.536210,37724.440678,...,0.096018,-0.045377,0.089490,0.003787,-0.000753,-0.002495,0.003092,3.169193,0.783230,2
281,281,DK55,164,281,1,893,44,33,17274.777156,37981.454647,...,0.062423,0.007008,0.136662,0.003779,0.002952,-0.009803,0.004066,1.288421,0.779651,2
284,284,DK55,164,284,1,1841,40,112,17286.045627,37844.695274,...,0.341517,-0.079672,0.044803,-0.084459,0.003136,0.008170,-0.003958,1.681765,1.131390,2

In [3]:
!ls $DIR/sections/*/*.csv

/Users/yoavfreund/projects/cell_detection_data/sections/164/164.csv
/Users/yoavfreund/projects/cell_detection_data/sections/164/puntas.csv
/Users/yoavfreund/projects/cell_detection_data/sections/172/172.csv
/Users/yoavfreund/projects/cell_detection_data/sections/172/puntas.csv
/Users/yoavfreund/projects/cell_detection_data/sections/248/248.csv
/Users/yoavfreund/projects/cell_detection_data/sections/248/puntas.csv

In [4]:
secs=[]
for section in [164,172,248]:
    sec=pd.read_csv(DIR+'/sections/%d/%d.csv'%(section,section))
    secs.append(sec)
all_secs=pd.concat(secs)
all_secs

    Unnamed: 0             x             y  Section
0          0.0  23958.919922  23430.537109      164
1          1.0  36357.390625  19160.722656      164
2          2.0  36916.816406  18117.238281      164
3          3.0  36956.585938  18211.685547      164
4          4.0  37113.640625  18272.320312      164
..         ...           ...           ...      ...
19        19.0  42483.167969  20779.439453      248
20        20.0  42492.175781  21657.750000      248
21        21.0  43356.972656  21202.830078      248
22        22.0  47240.113281  20207.914062      248
23        23.0  47898.500000  20710.583984      248

[209 rows x 4 columns]

In [ ]:
import numpy as np
from numpy.linalg import norm

In [21]:
for section in [164,172,248]:
    
    print('section=',section)

    pos_sec=positives[positives['section']==section]
    pos_xy=np.array(pos_sec[['col','row']])
    #pos_xy

    sec_man=all_secs[all_secs['Section']==section]
    man_xy=np.array(sec_man[['x','y']])
    #man_xy

    for i in range(pos_xy.shape[0]):
        c=norm(man_xy-pos_xy[i,:],axis=1)
        c=np.sort(c)
        print(c[:2])

section= 164
[2.44847513e+00 2.71456278e+03]
[  6.29862817 553.59130399]
[  1.58493581 133.83751369]
[  1.67971428 131.13017577]
[  6.62185124 120.55947637]
[  2.72622679 190.23417376]
[  3.75981263 122.18472956]
[  6.18534946 144.67810211]
[19.27895317 21.8240897 ]
[33.81246416 38.66328695]
[10.45760675 98.26735769]
[  5.97298062 109.7517276 ]
[13.79236773 21.6958537 ]
[  4.28462468 109.43939657]
[ 6.44387942 83.80713959]
[  3.09417355 121.10099626]
[ 9.47059503 25.93420258]
[  1.33488027 104.98442639]
[  5.97114557 103.96026899]
[ 4.10417005 98.89779667]
[ 7.15616046 97.6100473 ]
[ 11.26223263 109.52271753]
[  0.4934689  313.01006697]
[9.24400184e-01 2.08058046e+03]
[ 7.76223279 88.3450749 ]
[  6.92265525 114.17797367]
[ 5.4080131 49.0782837]
[ 2.89312237 54.70071325]
[ 1.59527992 96.68026515]
[  2.96498646 134.01882292]
[  4.58221398 101.92131965]
[ 9.70759867 39.87665986]
[  3.89701051 128.256742  ]
[  2.85105589 102.80351664]
[  8.48912022 176.06733297]
[  0.73281738 151.8337777 ]
[  2.38323104 151.53093064]
[ 24.40757028 190.61829411]
[  4.4625038  406.02216949]
[   6.19869876 1128.25267046]
[ 12.71281452 164.86181528]
[  3.97005534 406.87304818]
[  4.49479232 172.05961254]
[  7.87708997 418.71570795]
[ 10.77225963 362.60529833]
[  5.56401714 842.41380835]
[  1.27717448 651.07072614]
[  5.25914467 292.64140097]
[  6.17620868 198.00384746]
[  5.14746637 290.30530187]
[ 4.83810402 91.97450258]
[  7.50391378 156.11769295]
[ 5.19458491 91.34708477]
[   19.81408281 13100.80789444]
[  7.12748331 132.34643265]
[  3.14463955 283.24717594]
[  1.28478009 132.19258361]
[  4.81144011 290.18845754]
[  1.65924622 436.88270976]
[   9.24150955 1195.54215733]
[  1.93247877 436.03449548]
[  6.53061148 723.63837528]
[ 19.02837453 764.75087871]
section= 172
[   8.40587931 5900.9187551 ]
[  3.92496571 896.54813012]
[  7.51909144 137.50402917]
[  0.9139701  484.79424162]
[  3.41525741 139.74493132]
[17.05592305 38.10435741]
[  3.44009546 155.79297751]
[21.75299811 40.23366847]
[  3.64983375 124.94768677]
[ 1.13811952 63.93839577]
[  4.64387113 148.62929252]
[ 20.54307672 147.930823  ]
[ 2.26715446 66.4428212 ]
[ 2.56801677 63.11259762]
[ 3.63318729 63.20254586]
[  4.67038054 108.1494518 ]
[  3.06200914 110.49293042]
[  4.12481055 194.70668372]
[  1.0182039  105.46108047]
[37.27264671 45.57138751]
[  3.19876493 138.84907839]
[  2.73308104 159.89269727]
[ 7.91662704 35.40924656]
[  2.52903696 340.43864312]
[   6.57814471 1234.03249465]
[  3.46285462 173.17439409]
[  4.3713438  222.77546658]
[  3.12562062 211.27347603]
[  1.46993001 681.48881665]
[  1.7461837 211.8064367]
[  2.47508802 350.86038943]
[  3.42078388 118.38002993]
[  3.03526711 207.45272733]
[1.45346175e+00 2.10917877e+03]
[  4.35925091 126.14237938]
[ 0.77595123 46.90645005]
[ 1.65949513 48.04247447]
[  2.44261963 243.08314258]
[  4.2738144  113.51550685]
[  2.98441922 207.96702791]
[  3.47395075 115.04560062]
[ 3.88465452 35.6775706 ]
[  3.22243088 176.50634422]
[  3.95722097 189.30877781]
[  1.79972818 244.61616237]
[ 5.17526108 69.23498101]
[ 3.86145232 68.37864022]
[14.8532893  19.95098459]
[  0.32216579 118.93832586]
[  2.81663631 108.58918508]
[  6.09325155 344.88422332]
[  4.96687971 193.20109573]
[ 1.50631184 86.26986166]
[  2.1605202  378.10961818]
[ 15.50509644 120.43631973]
[ 13.6965032  144.53186896]
[  6.99924223 281.81616365]
[  7.89109154 159.50227941]
[17.20447424 77.6842871 ]
[  2.90392596 128.69040342]
[ 4.16064214 97.43062985]
[  2.58322132 100.25394472]
[  0.58189344 143.42320067]
[  2.42026011 299.92960223]
[  4.55998597 131.44883463]
[22.6481121  24.55726125]
[  3.05477953 161.50877148]
[ 2.29371873 96.63926201]
[ 1.45326209 93.45603424]
[  3.73468809 238.46697747]
[ 23.12845518 344.16272896]
[  8.11065696 203.7147946 ]
[ 4.56290258 89.05326406]
[ 3.31079387 88.22307137]
[  0.77205976 302.10755506]
[  2.79449711 247.64849861]
[  3.88258949 305.56913684]
[  2.20510059 194.01561192]
[  3.10447974 183.39340151]
[  1.66909005 537.23621472]
[  1.27627359 136.00929604]
[  1.57545264 184.57385625]
[ 1.93377582 59.82783899]
[  3.56547065 121.46849938]
[  4.53190504 145.61249165]
[  5.8270779  464.17888306]
[  2.17183247 787.39780881]
[  5.73023746 573.72868583]
[  2.34491394 461.21628661]
[ 1.87631    93.84216727]
[ 2.99328169 92.44878528]
[  8.54114682 187.99031599]
[  3.40105491 354.17765125]
[ 15.84931186 203.47054666]
[  2.2184354  790.10961482]
[  1.53147339 754.29848249]
[  5.4746854  439.96791458]
[  2.16845669 441.04932339]
section= 248
[30.6598436  33.08722401]
[   3.58284119 1445.10930677]
[  4.34420975 832.03435825]
[  5.87427149 430.34813945]
[ 25.33194417 315.50419644]
[  1.89613494 827.38083375]
[ 15.5352937  120.39938259]
[  6.60093023 124.23865885]
[   4.73263035 1612.82772251]
[ 42.47768351 934.55637999]
[  1.03766271 253.15998267]
[49.51222811 65.33607481]
[ 32.24266618 299.94485191]
[  7.07347764 246.4948467 ]
[ 32.90255225 422.11937779]
[ 22.42574248 466.44812848]
[  7.22276745 621.54467711]
[  8.92300769 427.25209887]
[  3.16058576 179.07782825]
[ 28.85854355 116.39888506]
[  5.68500675 118.6349848 ]
[  5.64220037 582.20777244]